.controles {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 200px 10px;
    margin-top: 40px;
}

.controles button {
    min-width: 130px;
    transition: 0.3s;
}

.controles button:hover {
    transform: scale(1.05);
}


.abecedario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.letra {
    padding: 20px;
    width: 80px;
    text-align: center;
    border: 2px solid #0d6efd;
    border-radius: 10px;
    font-size: 25px;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pie-pagina {
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 300px;
}


.pie-pagina p {
    margin: 0 0 8px 0;
    font-weight: bold;
}

.pie-pagina span {
    margin: 0 15px;
}

.navbar .logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.contador-container {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.badge {
    background-color: #54dad1;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}
body {
    background-color: gray important!;
}

